.slider__animals {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 90;
	width: 100%;
	height: 90vh;
	min-height: 800px;
}
.slider__animals .swiper-slide {
	position: relative;
	height: 100%;
	display:flex;
	align-items: flex-end;
	justify-content: center;
	transition: all 1.4s ease-in;
	transform: scale(1) translateY(70px);
	filter: grayscale(100%);
	opacity: 0.3;
	&.swiper-slide-active{
		transform: scale(1.3) translateY(-90px);
		filter: grayscale(0%);
		opacity: 1;
	}
}

.slider__animals__img{
	position: relative;
	width: 100%;


}
.slider__animals__bg {
	width: 100%;
	height: 100%;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}